.FormContainer {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #2980b9;
}

.InstructionContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    /* background-color: red; */
}

.Instructions {
    position: relative;
    margin: auto;
    margin-top: 50%;
    transform: translateY(-50%);
    /* background-color: red; */
    /* border: 1px solid black; */
    width: 600px;
}