.Keyboard {
    height: 80%;
    margin-top: 20px;
    width: 1200px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.row {
    background-color: violet;
    height: 20%;
}