.AuthForm {
    position: relative;
    width: 300px;
    margin: auto;
    margin-top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #2980b9;
    padding-right: 50px;
    /* box-shadow: 0px 0px 5px 1px #2980b9; */
}

.FormHeading {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 25px;
    color: white;
}

.AuthForm input {
    margin-top: 1px;
    margin-bottom: 20px;
    width: 100%;
}

.JoinButton {
    margin-bottom: 10px;
    border: 1px solid white;
    width: 50px;
    padding: 5px;
    text-align: center;
    border-radius: 50px;
    color: white;
    transition: background-color 0.2s, color 0.2s;
    margin-left: 255px;
}

.JoinButton:hover {
    cursor: pointer;
    background-color: white;
    color: #2980b9;
}

.BottomLinkContainer {
    width: 317px;
    margin-top: 20px;
    border-top: 0.1px solid white;
    padding-top: 2px;
}

.BottomLink {
    color: white;
    font-size: 15px;
}

.BottomLink:first-child {
    margin-right: 10px;
}

.BottomLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* #2980b9; */