.GameArea {
    background-color: white;
    position: fixed;
    left: 0;
    top: 56px;
    height: 100%;
    width: 75%;
}

.KeyboardArea {
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
}

.TypingArea {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    height: 50%;
    width: 70%;
}

.StatsArea {
    position: absolute;
    /* border: 1px solid #aaa; */
    /* background-color: #aaa; */
    top: 0;
    right: 0;
    height: 49%;
    width: 35%;
}

.CurrentWordArea {
    position: absolute;
    background-color: yellowgreen;
    top: 0;
    right: 0;
    width: 80%;
    height: 20%;
}

.current {
    /* font-weight: 600; */
    font-size: 300px;
    margin-top: 30px;
}